{% extends 'base.html' %}

{% block full_title %}Idea Party{% endblock %}

{% block content %}
    <p>Hello, World!</p>
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Feeling Inspired? Add Your Idea!</button>
    {% endif %}

    {% for idea in recent_ideas %}
        <div class="idea-tile">
            <h2><a href="{% url 'ideas:idea_detail' pk=idea.pk %}">{{ idea.title }}</a></h2>
        </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add your idea</h4>
          </div>
          <div class="modal-body">
              <h1>What's your idea?</h1>
            <div class="form-group">
                <form method="POST" action="{% url 'ideas:idea_new' %}"class="idea-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>

                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
