{% extends 'base.html' %}

{% block full_title %}Idea Party{% endblock %}
{% block content %}
    <h2>{{ idea.title }}</h2>
    <p> {{ idea.body }}</p>
    {% if request.user.is_authenticated and request.user == idea.created_by %}
        <a href="{% url 'ideas:idea_edit' pk=idea.pk %} }">Edit this idea</a>
    {% endif %}

{% endblock %}